[submodule "modules/clmtrackr"]
	path = modules/clmtrackr
	url = https://github.com/auduno/clmtrackr.git
[submodule "modules/SIP.js"]
	path = modules/SIP.js
	url = https://github.com/onsip/SIP.js.git
[submodule "modules/Recorderjs"]
	path = modules/Recorderjs
	url = https://github.com/mattdiamond/Recorderjs.git
